# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Models
models/X_tfidf.pkl
models/y.pkl
models/*.joblib

# Environment
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log
database/*.db
database_file/*.db